<div class="container">
    <div class="row">
        <div class="header">
            <h1>TYPOGRAPHY</h1>

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="file:///C:/Users/IC/Desktop/5th%20web%20p/home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="file:///C:/Users/IC/Desktop/5th%20web%20p/typography.html">Typography</a>
                </li>
            </ul>
        </div>
    </div>
</div>




<div class="section_title"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">H1 Heading</h1>
                    <h6 class="card-subtitle mb-2 text-muted">Mus hendrerit iaculis phasellus iusto unde interdum id
                        etiam ab, totam error molestiae maxime natus elit vero? Nostrum odio facere vitae hac praesent
                        senectus. Quo sociis blanditiis. Duis tenetur quas. Exercitation sapien quam
                        voluptatum? Sunt ipsam metus natoque, hymenaeos neque.

                    </h6>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="section_title"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">H2 Heading</h2>
                    <h6 class="card-subtitle mb-2 text-muted">Mus hendrerit iaculis phasellus iusto unde interdum id
                        etiam ab, totam error molestiae maxime natus elit vero? Nostrum odio facere vitae hac praesent
                        senectus. Quo sociis blanditiis. Duis tenetur quas. Exercitation sapien quam
                        voluptatum? Sunt ipsam metus natoque, hymenaeos neque.

                    </h6>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="section_title"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">H3 Heading</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Mus hendrerit iaculis phasellus iusto unde interdum id
                        etiam ab, totam error molestiae maxime natus elit vero? Nostrum odio facere vitae hac praesent
                        senectus. Quo sociis blanditiis. Duis tenetur quas. Exercitation sapien quam
                        voluptatum? Sunt ipsam metus natoque, hymenaeos neque.

                    </h6>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="section_title"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">H4 Heading</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Mus hendrerit iaculis phasellus iusto unde interdum id
                        etiam ab, totam error molestiae maxime natus elit vero? Nostrum odio facere vitae hac praesent
                        senectus. Quo sociis blanditiis. Duis tenetur quas. Exercitation sapien quam
                        voluptatum? Sunt ipsam metus natoque, hymenaeos neque.

                    </h6>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="section_title"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/typography/1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p>Numquam aperiam mollitia urna diamlorem senectus maecenas justo enim viverra eligendi
                                earum incidunt erat sollicitudin beatae! Excepturi, quo, quasi, ornare hymenaeos aenean
                                torquent primis exercitation tempore a, necessitatibus.
                                Tincidunt cum. Cursus mollitia modi. Omnis ipsam. Sequi, esse tempora inventore optio.
                            </p>

                            <p>Purus laudantium tempus dictumst laboriosam mauris, nostrud vivamus augue pellentesque
                                dis deserunt, dolorum commodi fuga, quasi praesent nemo molestiae? Faucibus, eos
                                lobortis erat repellendus irure aptent euismod feugiat?
                                Habitasse ad necessitatibus aute doloribus quaerat, facere mollit! Quod officia sodales
                                tellus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div></div>
