
    <div class="container">
      <div class="row">
          <div class="header">
              <h1>Events December 2022</h1>

              <ul class="nav">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="file:///C:/Users/IC/Desktop/5th%20web%20p/home.html">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">events</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>



  <div class="container">
      <div class="row">
          <div class="col-9">
              <div class="card">
                  <img src="assets/events/1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">

                  </div>
              </div>
          </div>
          <div class="col-3">
              <div class="flex-container">
                  <div class="flex-item" id="flex-item-1">ECONIMICS</div>
                  <div class="flex-item" id="flex-item-2">ECONIMICS</div>
                  <div class="flex-item" id="flex-item-2">ECONIMICS</div>
                  <div class="flex-item" id="flex-item-2">ECONIMICS</div>
                  <div class="flex-item" id="flex-item-2">ECONIMICS</div>

              </div>

          </div>

      </div>
  </div>





  <div class="container">
      <div class="row">
          <div class="col-6">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Zagreb Summit on Cross-Continental Cooperation in South Eastern Europe</h5>

                      <p class="card-text">Arcu anim, ducimus, adipisicing tempore cursus, fringilla nam arcu facilis class suscipit, a similique eros. Aspernatur, reiciendis habitasse mollis parturient incididunt officiis eos exercitationem per nascetur? Facilisi habitasse?
                          Quia cursus, ipsum recusandae dolores officiis molestie ducimus, repudiandae nemo? Ridiculus illo, cupidatat feugiat? Voluptate aute platea! Ultrices risus primis, nesciunt placeat expedita voluptatem, laboris elementum. Dolorum
                          quod.
                      </p>

                  </div>
              </div>
          </div>

          <div class="col-3">
              <div class="card">
                  <img src="assets/events/2.png" class="card-img-top" alt="...">


              </div>
          </div>
          <div class="col-3" style="color:gray ;">
              <div class="card">
                  <img src="assets/home/3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h3>Global Security Asia 2020</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="container">
      <div class="row">
          <div class="col-9">
              <div class="card">
                  <img src="assets/events/3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">

                  </div>
              </div>
          </div>
          <div class="col-3">
              <div class="card">
                  <img src="assets/home/ss1.png" class="card-img-top" alt="...">

              </div>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-6">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Zagreb Summit on Cross-Continental Cooperation in South Eastern Europe</h5>
                      <p class="card-text">Parturient hic, dolorum quod? Ullamco nihil magna, fuga consequatur! Elit urna penatibus corrupti iusto doloribus labore, phasellus, pellentesque mus habitasse praesent blanditiis lacinia est consequuntur ante, neque sit magnam
                          nulla facilisi tellus iaculis felis mollis hic soluta neque odit, suspendisse fringilla mi gravida fugit? Nascetur, gravida arcu fames, expedita habitant, habitant do? Quae pellentesque? Nostra voluptatibus.</p>

                  </div>
              </div>
          </div>

          <div class="col-3">
              <div class="card">
                  <img src="assets/events/4.png" class="card-img-top" alt="...">

              </div>
          </div>
          <div class="col-3">
              <div class="v">
                  <iframe src="https://www.youtube.com/embed/aO2YB5jkef4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-9">
              <div class="card">
                  <img src="assets/events/5.jpg" class="card-img-top" alt="...">
                  <div class="card-body">

                  </div>
              </div>
          </div>
          <div class="col-3">
              <div class="flex_container1">
                  <div class="flex_items" id="flex_container-1">Why Choose Us</div>
                  <div class="flex_items" id="flex_container-2">Suspendious Potenti sit</div>
                  <div class="flex_items" id="flex_container-3">Paraesent amet rhoncus</div>
              </div>
          </div>
      </div>
  </div>




  <div class="container">
      <div class="row">
          <div class="col-6">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Zagreb Summit on Cross-Continental Cooperation in South Eastern Europe</h5>
                      <p class="card-text">Parturient hic, dolorum quod? Ullamco nihil magna, fuga consequatur! Elit urna penatibus corrupti iusto doloribus labore, phasellus, pellentesque mus habitasse praesent blanditiis lacinia est consequuntur ante, neque sit magnam
                          nulla facilisi tellus iaculis felis mollis hic soluta neque odit, suspendisse fringilla mi gravida fugit? Nascetur, gravida arcu fames, expedita habitant, habitant do? Quae pellentesque? Nostra voluptatibus.</p>

                  </div>
              </div>
          </div>

          <div class="col-3">
              <div class="card">
                  <img src="assets/events/4.png" class="card-img-top" alt="...">

              </div>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-9">
              <div class="card">
                  <img src="assets/events/6.jpg" class="card-img-top" alt="...">
                  <div class="card-body">

                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-6">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Zagreb Summit on Cross-Continental Cooperation in South Eastern Europe</h5>
                      <p class="card-text">Parturient hic, dolorum quod? Ullamco nihil magna, fuga consequatur! Elit urna penatibus corrupti iusto doloribus labore, phasellus, pellentesque mus habitasse praesent blanditiis lacinia est consequuntur ante, neque sit magnam
                          nulla facilisi tellus iaculis felis mollis hic soluta neque odit, suspendisse fringilla mi gravida fugit? Nascetur, gravida arcu fames, expedita habitant, habitant do? Quae pellentesque? Nostra voluptatibus.</p>

                  </div>
              </div>
          </div>

          <div class="col-3">
              <div class="card">
                  <img src="assets/events/7.png" class="card-img-top" alt="...">

              </div>
          </div>
      </div>
  </div>


  <div class="container">
      <div class="row">
          <div class="col-9">
              <div class="card">
                  <img src="assets/events/8.jpg" class="card-img-top" alt="...">
                  <div class="card-body">

                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-6">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Zagreb Summit on Cross-Continental Cooperation in South Eastern Europe</h5>
                      <p class="card-text">Parturient hic, dolorum quod? Ullamco nihil magna, fuga consequatur! Elit urna penatibus corrupti iusto doloribus labore, phasellus, pellentesque mus habitasse praesent blanditiis lacinia est consequuntur ante, neque sit magnam
                          nulla facilisi tellus iaculis felis mollis hic soluta neque odit, suspendisse fringilla mi gravida fugit? Nascetur, gravida arcu fames, expedita habitant, habitant do? Quae pellentesque? Nostra voluptatibus.</p>

                  </div>
              </div>
          </div>

          <div class="col-3">
              <div class="card">
                  <img src="assets/events/9.png" class="card-img-top" alt="...">

              </div>
          </div>
      </div>
  </div>

