
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="header">
                    <h1>CONTACT</h1>

                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="file:///C:/Users/IC/Desktop/5th%20web%20p/home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="file:///C:/Users/IC/Desktop/5th%20web%20p/contact_us.html">CONTACT</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.30607623636!2d-74.25987551247056!3d40.697149395077545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2s!4v1671045004197!5m2!1sen!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Send us Mail</h1>
                <form>
                    <input type="text" placeholder="Your Name" required>
                    <br><br>
                    <input type="email" placeholder="Your Email" required>
                    <br><br>
                    <input type="text" placeholder="Subject" required>
                    <br><br>

                    <input type="textarea" placeholder="Your Message" required>
                    <br><br>

                    <input type="submit" value="Submit">
                </form>
            </div>




            <div class="col-6">
                <div class="card  mb-3 ">
                    <div class="card-body">
                        <h5 class="card-title">Some Information</h5>
                        <p>Earum erat, expedita consequatur, accusantium dui, aptent placerat, corporis! Qui nullam ab natoque. Pede dicta praesentium dolorem. Per doloribus consequatur exercitation officiis porttitor itaque mollitia cubilia ultricies.</p>

                    </div>
                </div>

                <div class="card text-center  mb-3 ">
                    <div class="card-body">

                        <p>4789 Magic City Avenue, Los Angeles, CA, 94048, United States Call: +1 800 123 456 789 E-mail: yousite@yoursite.com ThemeMakers Support team is available from Monday to Friday 9 a.m. – 6 p.m. (GMT +1) Saturday: Closed Sunday: Closed
                        </p>

                    </div>
                </div>
            </div>


        </div>
    </div>

