.header {
    background-color: whitesmoke;
    color: grey;
    border-bottom: 1px dashed gray;
}

.flex-container {
    display: block;
}

.flex-item {
    background-color: whitesmoke;
    margin-top: 10px;
    padding: 15px;
    color: black;
    border: 2px solid white;
}

.flex-item:hover {
    background-color: aquamarine;
}

.container {
    margin-top: 40px;
}

.b1 {
    width: 20%;
    border: 2px solid black;
    margin-top: 10px;
}

.b2 {
    width: 30%;
    border: 2px solid black;
    margin-top: 10px;
}

.b3 {
    width: 40%;
    border: 2px solid black;
    margin-top: 10px;
}

.bu1 {
    background-color: aqua;
    width: 20%;
    border: 2px solid black;
    margin-top: 10px;
    color: white;
}

.bu2 {
    background-color: aqua;
    width: 30%;
    border: 2px solid black;
    margin-top: 10px;
    color: white;
}

.bu3 {
    background-color: aqua;
    width: 40%;
    border: 2px solid black;
    margin-top: 10px;
    color: white;
}

.card-text1 {
    color: aquamarine;
    text-align: center;
    font-weight: bold;
}

.name {
    color: aquamarine;
    text-align: center;
    font-weight: bold;
}

.quote {
    color: aquamarine;
    text-align: center;
    font-weight: bold;
}