<div class="container">
    <div class="row">
        <div class="header">
            <h1>SHORTCODES</h1>

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="file:///C:/Users/IC/Desktop/5th%20web%20p/home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="file:///C:/Users/IC/Desktop/5th%20web%20p/shortcodes.html">Shortcodes</a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <h3>Accordions and Toggles</h3>
            <div class="flex-container">
                <div class="flex-item" id="flex-item-1">Erat ratione maxime tenetur quod eum,aliquid</div>
                <div class="flex-item" id="flex-item-2">Erat ratione maxime tenetur quod eum,aliquid</div>
                <div class="flex-item" id="flex-item-3">Erat ratione maxime tenetur quod eum,aliquid</div>
                <div class="flex-item" id="flex-item-4">Erat ratione maxime tenetur quod eum,aliquid</div>
                <div class="flex-item" id="flex-item-5">Erat ratione maxime tenetur quod eum,aliquid</div>
                <div class="flex-item" id="flex-item-6">Erat ratione maxime tenetur quod eum,aliquid</div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <h2>Buttons</h2>
        <div class="col-8">

            <div class="card-group">
                <div class="card">
                    <input type="submit" class="b1" value="BUTTON TEXT">
                    <input type="submit" class="b2" value="BUTTON TEXT">
                    <input type="submit" class="b3" value="BUTTON TEXT">

                    <div class="card-body">



                    </div>
                </div>
                <div class="card">
                    <input type="submit" class="bu1" value="BUTTON TEXT ">
                    <input type="submit" class="bu2" value="BUTTON TEXT">
                    <input type="submit" class="bu3" value="BUTTON TEXT">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <h3>Aert Boxes</h3>
        <div class="col-8">
            <div class="alert alert-warning" role="alert">
                A simple warning alert—check it out!
            </div>
            <div class="alert alert-success" role="alert">
                A simple success alert—check it out!
            </div>

            <div class="alert alert-danger" role="alert">
                A simple danger alert—check it out!
            </div>
            <div class="alert alert-info" role="alert">
                A simple info alert—check it out!
            </div>
            <div class="alert alert-light" role="alert">
                A simple light alert—check it out!
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Drop Caps</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>


                    <p class="card-text "><img src="assets/Q.png">olestias cum sodales semper, recusandae sunt eu minim, ipsa aspernatur cillum deleniti sed similique nascetur! Erat exercitationem inventore, corrupti optio vehicula nulla porro? Aliquid fugit justo ut incidunt
                        iaculis morbi beatae molestie minus, ridiculus viverra delectus dictum neque natoque placeat, eos hac unde wisi? Habitant. Facilisis, ullamcorper laoreet, laborum illum aptent wisi nullam. Quos? Iaculis? Primis explicabo, tempore
                        rem magnam.</p>
                    <p class="card-text"><img src="assets/N.png">acilis nibh platea vivamus dolorem. Adipisicing scelerisque, tristique aperiam enim, curae tempus, a minus, quis minim. Eaque vel occaecat ridiculus tempora unde tempore molestias, molestiae ipsum magnis!
                        Euismod molestiae. Aut! Unde aspernatur laboriosam, venenatis delectus iste turpis maxime sagittis eveniet ridiculus fermentum proident ducimus laoreet nullam interdum pellentesque dignissim mollitia quisque, provident tempore
                        fusce cillum elit reiciendis augue mauris assumenda. .
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-8">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Blockquote</h5>

                    <h3 class="card-text1"><i>"Aliquam viverra, class nullam cursus facilisi, etiam iure, eget mi curae delectus sint asperiores ullamco!"</i></h3>

                    <div class="name">
                        <h5><i>   CHRISTIAN KLOSS"</i></h5>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <h5 class="card-title">Testimonials</h5>
        <div class="col-2">

            <img src="assets/features/1.jpg">

        </div>
        <div class="col-6">

            <h3 class="quote"><i>Sagittis architecto quo mollitia varius sit. Iusto, voluptates, nostrum minus anim quae viverra risus, cumque deserunt. Tempus cum feugiat sed nemo dui laboris purus, exercitation primis vivamus? Commodo, bibendum reiciendis. Mollis
                        est aute, facere gravida, mus voluptatibus senectus, pede, vitae.</i></h3>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Unordered List</h5>
                    <ul>
                        <li>Quisque consectetur lacinia felis, posumassa fermentum vel.</li>
                        <li>Morbi metus nibh, tincidunt ac luctus hendrerit, iaculis sed velit.</li>
                        <li>Suspendisse potenti. Praesent sit amehoncus nisi.</li>
                        <li>Ut elit leo, condimentum nec consectetur non, tincidunt malesuada lorem.</li>
                        <li>Phasellus imperdiet risus eget augue fermentum pharetra.</li>
                        <li>Curabitur magna lacus, viverra eu laoreet sed, aliquet et orci.</li>

                    </ul>
                </div>
            </div>




        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ordered List</h5>
                    <ol>
                        <li>Quisque consectetur lacinia felis, posumassa fermentum vel.</li>
                        <li>Morbi metus nibh, tincidunt ac luctus hendrerit, iaculis sed velit.</li>
                        <li>Suspendisse potenti. Praesent sit amehoncus nisi.</li>
                        <li>Ut elit leo, condimentum nec consectetur non, tincidunt malesuada lorem.</li>
                        <li>Phasellus imperdiet risus eget augue fermentum pharetra.</li>
                        <li>Curabitur magna lacus, viverra eu laoreet sed, aliquet et orci.</li>
                    </ol>
                </div>
            </div>




        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Highlight & Tooltips</h5>

                    <p class="card-text">Nullam quis aliquet velit. Mauris elit lacus, pretium pharetra bibendumpharetra bibendum sit amet, dapibus tincidunt nunc. Donec est metus, blandit elementum euismod, facilisis quis dolor. Cum sociis natoque penatibus magnis dis
                        parturient montes, nascetur ridiculusnascetur ridiculus mus. Nunc in risus in turpis consectetur tincidunt at quis ipsum. Duis pharetra volutpat vulputate. Mauris fringilla convallis dolor et aliquet. </p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h2>Columns</h2>
        <div class="col-2">
            <p>Nihil quo lectus, est quos consectetuer, occaecati sodales, cras, pretium, mus sint quidem, cupiditate, eleifend! Aliquid, atque fusce? Sociis error, accusamus gravida? Sunt pulvinar adipisci torquent?</p>
            <p>Nostrud metus veniam fringilla? Potenti, quisquam, fusce hic molestie potenti! Tristique animi aliquet quisque.</p>
        </div>
        <div class="col-2">
            <p>Nihil quo lectus, est quos consectetuer, occaecati sodales, cras, pretium, mus sint quidem, cupiditate, eleifend! Aliquid, atque fusce? Sociis error, accusamus gravida? Sunt pulvinar adipisci torquent?</p>
            <p>Nostrud metus veniam fringilla? Potenti, quisquam, fusce hic molestie potenti! Tristique animi aliquet quisque.</p>
        </div>
        <div class="col-2">
            <p>Nihil quo lectus, est quos consectetuer, occaecati sodales, cras, pretium, mus sint quidem, cupiditate, eleifend! Aliquid, atque fusce? Sociis error, accusamus gravida? Sunt pulvinar adipisci torquent?</p>
            <p>Nostrud metus veniam fringilla? Potenti, quisquam, fusce hic molestie potenti! Tristique animi aliquet quisque.</p>
        </div>
        <div class="col-2">
            <p>Nihil quo lectus, est quos consectetuer, occaecati sodales, cras, pretium, mus sint quidem, cupiditate, eleifend! Aliquid, atque fusce? Sociis error, accusamus gravida? Sunt pulvinar adipisci torquent?</p>
            <p>Nostrud metus veniam fringilla? Potenti, quisquam, fusce hic molestie potenti! Tristique animi aliquet quisque.

            </p>
        </div>
    </div>
</div>


