
    <div class="container">
        <div class="row">
            <div class="header">
                <h1>Events December 2022</h1>

                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="file:///C:/Users/IC/Desktop/5th%20web%20p/home.html">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="# ">Events</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="# ">Events calender</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <div class="calender ">
        <div class="month ">
            <b>JANURARY 2023</b>
           
        </div>

        <table>
            <tr>
                
                <th>MON</th>
                <th>TUE</th>
                <th>WED</th>
                <th>THU</th>
                <th>FRI</th>
                <th>SAT</th>
                <th>SUN</th>


            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
            </tr>

            <tr>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
            </tr>

            <tr>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
            </tr>


            <tr>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
                <td>22</td>
            </tr>


            <tr>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td></td>
            </tr>
        </table>
<br>
    </div>

