<div class="container">
    <div class="row">
        <div class="header">
            <h1>GALLERY</h1>

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="file:///C:/Users/IC/Desktop/5th%20web%20p/home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=>Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="file:///C:/Users/IC/Desktop/5th%20web%20p/gallery1.html">Gallery 1 column</a>
                </li>

            </ul>

        </div>
    </div>
</div>



<div class="flex_container">
    <div class="flex_item " id=flex_item1>ALL</div>
    <div class="flex_item" id=flex_item1>2012</div>
    <div class="flex_item" id=flex_item1>2010</div>
    <div class="flex_item" id=flex_item1>2011</div>
    <div class="flex_item" id=flex_item1>2015</div>
</div>



<div class="container ">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="assets/gallery 2/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Quis blanditiis</h5>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <img src="assets/gallery 2/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Exercitationem</h5>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="assets/gallery 2/3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Magni quis</h5>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <img src="assets/gallery 2/4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Aut doloribus</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="assets/gallery 2/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Sed potenti voluptas</h5>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <img src="assets/gallery 2/6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">Voloptates fugit</h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-primary btn-lg ">Learn More</button>
</div>
<br>
<br>