.header {
    background-color: whitesmoke;
    color: grey;
    border-bottom: 1px dashed gray;
}

.flex_container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.flex_item {
    margin-top: 10px;
    text-align: center;
    line-height: 4;
    height: 70px;
    width: 100px;
    border: 1px solid lightgray;
    background-color: lightgray;
    margin-left: 10px;
    color: white;
    font-weight: bolder;
}

.flex_item:hover {
    background-color: blue;
}

.container {
    margin-top: 20px;
}

.card-text {
    color: blue;
    font-weight: bolder;
}